extends ../layout.pug

form.form.center-form(method='post', enctype='multipart/form-data')
    h2 Add Category
    .form-group
        label(for='name') Name
        input#name.input-field(name='name', type='text')
    .form-group
        input.form-btn.btn(type='submit', value='Add')